
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>NotAuthenticated</h2>
    You must log in to view this page.
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")